/* *****
file: global stylesheet for Bingo framework
site: Bingo
site repo uri: https://github.com/Unit99/bingo
author: Sanjib Adhya
author uri: http://apeandme.com
version: 0.1
date: 09/03/2016

***** */
/* line 17, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* **
file: fonts mixin 
credits: https://gist.github.com/WhatIsHeDoing/3179370
** */
/* _simple font url('Roboto', 'eot'); */
/* _full-font-url('Roboto', 'woff', 'embedded-opentype', '?#iefix'); */
/* register font('Roboto') */
/* 
prevent faux bold
http://www.alistapart.com/articles/say-no-to-faux-bold/
use-registered-font('Roboto')
*/
/* using mixin from fonts.scss */
@font-face {
  font-family: "roboto";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/roboto-webfont.eot");
  src: url("../fonts/roboto-webfont.woff?#iefix") format("embedded-opentype"), url("../fonts/roboto-webfont.ttf") format("truetype"), url("../fonts/roboto-webfont.svg?#roboto") format("esvg");
}

@font-face {
  font-family: "opensanslight";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/opensanslight-webfont.eot");
  src: url("../fonts/opensanslight-webfont.woff?#iefix") format("embedded-opentype"), url("../fonts/opensanslight-webfont.ttf") format("truetype"), url("../fonts/opensanslight-webfont.svg?#opensanslight") format("esvg");
}

@font-face {
  font-family: "opensansregular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/opensansregular-webfont.eot");
  src: url("../fonts/opensansregular-webfont.woff?#iefix") format("embedded-opentype"), url("../fonts/opensansregular-webfont.ttf") format("truetype"), url("../fonts/opensansregular-webfont.svg?#opensansregular") format("esvg");
}

@font-face {
  font-family: "opensanssemibold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/opensanssemibold-webfont.eot");
  src: url("../fonts/opensanssemibold-webfont.woff?#iefix") format("embedded-opentype"), url("../fonts/opensanssemibold-webfont.ttf") format("truetype"), url("../fonts/opensanssemibold-webfont.svg?#opensanssemibold") format("esvg");
}

@font-face {
  font-family: "opensansbold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/opensansbold-webfont.eot");
  src: url("../fonts/opensansbold-webfont.woff?#iefix") format("embedded-opentype"), url("../fonts/opensansbold-webfont.ttf") format("truetype"), url("../fonts/opensansbold-webfont.svg?#opensansbold") format("esvg");
}

@font-face {
  font-family: "opensansextrabold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/opensansextrabold-webfont.eot");
  src: url("../fonts/opensansextrabold-webfont.woff?#iefix") format("embedded-opentype"), url("../fonts/opensansextrabold-webfont.ttf") format("truetype"), url("../fonts/opensansextrabold-webfont.svg?#opensansextrabold") format("esvg");
}

/* line 23, ../sass/bingo.scss */
#bingo-logo {
  font-family: "opensansextrabold", "sans-serif";
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0;
  font-size: 3em;
}
